name = "vacay-image-transformer"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[[r2_buckets]]
binding = "PHOTOS_BUCKET"
bucket_name = "vacay-photos"

[env.production]
routes = [{ pattern = "images.joeczar.com/*", zone_name = "joeczar.com" }]
