# General
.git
.gitignore
node_modules

# App/API build outputs
**/dist
**/.turbo
**/.cache
**/.vite
**/.nuxt
**/.next
**/.vercel

# Environment
.env
*.local
.DS_Store

# Dependency vendors
**/.pnpm-store
**/bun.lock
**/.bun
